<cdb-header></cdb-header>

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 box">
                <div class="label label-default pull-right" ng-if="$ctrl.id != undefined">
                    id: {{$ctrl.id}}
                </div>
                <h1 ng-if="$ctrl.id != undefined">Edit Computer</h1>
                <h1 ng-if="$ctrl.id == undefined">Add Computer</h1>



                <form >
                    <input type="hidden" value="{{$ctrl.id}}" id="id" ng-model="$ctrl.computer.id"/>
                    <fieldset>
                        <div class="form-group">
                            <label for="computerName" translate>tb.computerName</label>
                            <input type="text" class="form-control" id="computerName" placeholder="Computer name" ng-model="$ctrl.computer.name">
                        </div>
                        <div class="form-group">
                            <label for="introduced" translate>tb.intro</label>
                            <input type="date" class="form-control" id="introduced" placeholder="Introduced date" date="dd/MM/yyyy" ng-change="formatDate()"  ng-model="$ctrl.computer.introduced">
                        </div>
                        <div class="form-group">
                            <label for="discontinued" translate>tb.disco</label>
                            <input type="date" class="form-control" id="discontinued" placeholder="Discontinued date" date="dd/MM/yyyy" ng-model="$ctrl.computer.discontinued">
                        </div>
                        <div class="form-group">
                            <label for="companyId" translate>tb.company</label>
                            <select class="form-control" id="companyId" ng-model="$ctrl.computer.companyId">
                                <option value="0">--</option>
                                <option ng-repeat="company in $ctrl.companies track by company.id" value="{{company.id}}"   ng-selected="company.id === $ctrl.computer.company.id" >
                                    {{company.name}}
                                </option>
                            </select>
                        </div>
                    </fieldset>
                    <div class="actions pull-right">
                        <input type="submit" value="{{'btn.edit' | translate}}" class="btn btn-primary" ng-if="$ctrl.id != undefined" ng-click="$ctrl.edit()">
                        <input type="submit" value="{{'btn.add' | translate}}" class="btn btn-primary" ng-if="$ctrl.id == undefined" ng-click="$ctrl.save()">

                        or

                        <a href="/dashboard" class="btn btn-default" translate>btn.cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>