<ul class="pagination">
    <li ng-click="$ctrl.events.prevPage()">
        <a href="#" aria-label="Previous">
            <span aria-hidden="true" >&laquo;</span>
        </a>
    </li>
    <li ng-repeat="pagen in $ctrl.counter($ctrl.page.maxPage) track by $index" ng-class="{active:$index === $ctrl.page.currentPage}">
        <a href="#{{$index}}" ng-click="$ctrl.events.getPage($index)">{{$index}}</a>
    </li>

    <li ng-click="$ctrl.events.nextPage()">
        <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>

<div class="btn-group btn-group-sm pull-right" role="group" >
    <button type="button" class="btn btn-default"  ng-click="$ctrl.events.setPageSize(10)">10</button>
    <button type="button" class="btn btn-default"  ng-click="$ctrl.events.setPageSize(50)">50</button>
    <button type="button" class="btn btn-default"  ng-click="$ctrl.events.setPageSize(100)">100</button>
</div>